@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.roboto{
  font-family: "Roboto", sans-serif;
}


/* Custom slider thumb styling */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 12px; /* Adjust size as desired */
  height: 12px;
  background-color: #ffffff; /* Change this to your desired color */
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 12px; /* Adjust size as desired */
  height: 12px;
  background-color: #ffffff; /* Change this to your desired color */
  border-radius: 50%;
  cursor: pointer;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}